In [1]:
import pandas as pd
import numpy as np

In [2]:
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
dataframe_train = pd.read_csv('train.csv')
dataframe_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
dataframe_train.shape

(891, 12)

In [6]:
dataframe_train.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [7]:
dataframe_train.Cabin.unique()

array([nan, 'C85', 'C123', 'E46', 'G6', 'C103', 'D56', 'A6',
       'C23 C25 C27', 'B78', 'D33', 'B30', 'C52', 'B28', 'C83', 'F33',
       'F G73', 'E31', 'A5', 'D10 D12', 'D26', 'C110', 'B58 B60', 'E101',
       'F E69', 'D47', 'B86', 'F2', 'C2', 'E33', 'B19', 'A7', 'C49', 'F4',
       'A32', 'B4', 'B80', 'A31', 'D36', 'D15', 'C93', 'C78', 'D35',
       'C87', 'B77', 'E67', 'B94', 'C125', 'C99', 'C118', 'D7', 'A19',
       'B49', 'D', 'C22 C26', 'C106', 'C65', 'E36', 'C54',
       'B57 B59 B63 B66', 'C7', 'E34', 'C32', 'B18', 'C124', 'C91', 'E40',
       'T', 'C128', 'D37', 'B35', 'E50', 'C82', 'B96 B98', 'E10', 'E44',
       'A34', 'C104', 'C111', 'C92', 'E38', 'D21', 'E12', 'E63', 'A14',
       'B37', 'C30', 'D20', 'B79', 'E25', 'D46', 'B73', 'C95', 'B38',
       'B39', 'B22', 'C86', 'C70', 'A16', 'C101', 'C68', 'A10', 'E68',
       'B41', 'A20', 'D19', 'D50', 'D9', 'A23', 'B50', 'A26', 'D48',
       'E58', 'C126', 'B71', 'B51 B53 B55', 'D49', 'B5', 'B20', 'F G63',
       'C62 C64', 'E24', 'C90', 'C45', 'E8', 'B101', 'D45', 'C46', 'D30',
       'E121', 'D11', 'E77', 'F38', 'B3', 'D6', 'B82 B84', 'D17', 'A36',
       'B102', 'B69', 'E49', 'C47', 'D28', 'E17', 'A24', 'C50', 'B42',
       'C148'], dtype=object)

In [8]:
dataframe_train.Survived.value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [9]:
dataframe_train.Sex.value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [10]:
dataframe_train.Embarked.value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [11]:
dataframe_train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [12]:
dataframe_train.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [13]:
# All these columns seems to be irrelevant. Though you can add SibSp and Parch in your data.
columns_to_drop = ['PassengerId', 'Name', 'SibSp', 'Parch', 'Ticket', 'Cabin']

In [14]:
dataframe_train = dataframe_train.drop(columns_to_drop, axis = 1)
dataframe_train.head()

   Survived  Pclass     Sex   Age     Fare Embarked
0         0       3    male  22.0   7.2500        S
1         1       1  female  38.0  71.2833        C
2         1       3  female  26.0   7.9250        S
3         1       1  female  35.0  53.1000        S
4         0       3    male  35.0   8.0500        S

In [14]:
dataframe_train[dataframe_train['Age'].isna()]

     Survived  Pclass     Sex  Age     Fare Embarked
5           0       3    male  NaN   8.4583        Q
17          1       2    male  NaN  13.0000        S
19          1       3  female  NaN   7.2250        C
26          0       3    male  NaN   7.2250        C
28          1       3  female  NaN   7.8792        Q
..        ...     ...     ...  ...      ...      ...
859         0       3    male  NaN   7.2292        C
863         0       3  female  NaN  69.5500        S
868         0       3    male  NaN   9.5000        S
878         0       3    male  NaN   7.8958        S
888         0       3  female  NaN  23.4500        S

[177 rows x 6 columns]

In [15]:
# Smart way of replacing null values in age column by looking into Pclass as reference column
dataframe_train.groupby('Pclass').mean()[['Age']]

              Age
Pclass
1       38.233441
2       29.877630
3       25.140620

In [16]:
def age_approx(cols):
    Age = cols[0]
    Pclass = cols[1]
    
    if pd.isnull(Age):
        if Pclass == 1 :
            return 39
        elif Pclass == 2:
            return 30
        else:
            return 24
    else:
        return Age

In [17]:
dataframe_train['Age'] = dataframe_train[['Age','Pclass']].apply(age_approx, axis = 1)
dataframe_train

     Survived  Pclass     Sex   Age     Fare Embarked
0           0       3    male  22.0   7.2500        S
1           1       1  female  38.0  71.2833        C
2           1       3  female  26.0   7.9250        S
3           1       1  female  35.0  53.1000        S
4           0       3    male  35.0   8.0500        S
..        ...     ...     ...   ...      ...      ...
886         0       2    male  27.0  13.0000        S
887         1       1  female  19.0  30.0000        S
888         0       3  female  24.0  23.4500        S
889         1       1    male  26.0  30.0000        C
890         0       3    male  32.0   7.7500        Q

[891 rows x 6 columns]

In [18]:
dataframe_train.isna().sum()

Survived    0
Pclass      0
Sex         0
Age         0
Fare        0
Embarked    2
dtype: int64

In [19]:
dataframe_train.dropna(inplace = True)
dataframe_train.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
Fare        0
Embarked    0
dtype: int64

In [20]:
dataframe_train.dtypes

Survived      int64
Pclass        int64
Sex          object
Age         float64
Fare        float64
Embarked     object
dtype: object

In [24]:
# Both the columns are ordinal variables so applying one hot encoding
dataframe_train_one_hot = pd.get_dummies(dataframe_train, columns = ['Sex','Embarked'])

In [25]:
dataframe_train_one_hot

,Survived,Pclass,Age,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,0,3,22.0,7.2500,0,1,0,0,1
1,1,1,38.0,71.2833,1,0,1,0,0
2,1,3,26.0,7.9250,1,0,0,0,1
3,1,1,35.0,53.1000,1,0,0,0,1
4,0,3,35.0,8.0500,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...
886,0,2,27.0,13.0000,0,1,0,0,1
887,1,1,19.0,30.0000,1,0,0,0,1
888,0,3,24.0,23.4500,1,0,0,0,1
889,1,1,26.0,30.0000,0,1,1,0,0
890,0,3,32.0,7.7500,0,1,0,1,0

In [26]:
dataframe_train_one_hot.columns

Index(['Survived', 'Pclass', 'Age', 'Fare', 'Sex_female', 'Sex_male',
       'Embarked_C', 'Embarked_Q', 'Embarked_S'],
      dtype='object')

In [27]:
X = dataframe_train_one_hot[['Pclass', 'Age', 'Fare', 'Sex_female', 'Sex_male',
       'Embarked_C', 'Embarked_Q', 'Embarked_S']]
y = dataframe_train_one_hot['Survived']

In [28]:
X.shape,y.shape

((889, 8), (889,))

In [29]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y)

In [31]:
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((666, 8), (223, 8), (666,), (223,))

In [36]:
# from sklearn.preprocessing import StandardScaler, MinMaxScaler

# age_mm_scaler = MinMaxScaler()
# fare_std_scaler = StandardScaler()

# X_train['Age'] = age_mm_scaler.fit_transform(X_train[['Age']])
# X_train['Fare'] = fare_std_scaler.fit_transform(X_train[['Fare']])
# X_train

In [32]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()

In [33]:
logreg.fit(X_train,y_train)

/usr/local/lib/python3.7/site-packages/sklearn/linear_model/_logistic.py:765: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression()

In [34]:
logreg.coef_, logreg.intercept_

(array([[-1.19366481e+00, -3.99939895e-02, -9.04326477e-06,
          1.65811229e+00, -9.57708878e-01,  3.72821345e-01,
          3.74283332e-01, -4.67012611e-02]]),
 array([3.26724539]))

In [35]:
y_pred = logreg.predict(X_test)

In [36]:
#Predicting probabilities
logreg.predict_proba(X_test)

array([[0.08590364, 0.91409636],
       [0.27459404, 0.72540596],
       [0.18980958, 0.81019042],
       [0.84349884, 0.15650116],
       [0.31893929, 0.68106071],
       [0.37808289, 0.62191711],
       [0.04132709, 0.95867291],
       [0.54542498, 0.45457502],
       [0.31892407, 0.68107593],
       [0.23662474, 0.76337526],
       [0.69661429, 0.30338571],
       [0.69227536, 0.30772464],
       [0.78989856, 0.21010144],
       [0.29085925, 0.70914075],
       [0.55537034, 0.44462966],
       [0.87633106, 0.12366894],
       [0.07282842, 0.92717158],
       [0.90704556, 0.09295444],
       [0.57497615, 0.42502385],
       [0.41636015, 0.58363985],
       [0.41639843, 0.58360157],
       [0.62030184, 0.37969816],
       [0.07990143, 0.92009857],
       [0.88060116, 0.11939884],
       [0.93073985, 0.06926015],
       [0.82120298, 0.17879702],
       [0.60628248, 0.39371752],
       [0.93073549, 0.06926451],
       [0.77633262, 0.22366738],
       [0.90704599, 0.09295401],
       [0.29081076, 0.70918924],
       [0.50278684, 0.49721316],
       [0.7693154 , 0.2306846 ],
       [0.90705086, 0.09294914],
       [0.31892407, 0.68107593],
       [0.88875808, 0.11124192],
       [0.3594653 , 0.6405347 ],
       [0.95425983, 0.04574017],
       [0.62526791, 0.37473209],
       [0.33370499, 0.66629501],
       [0.77636795, 0.22363205],
       [0.88474065, 0.11525935],
       [0.84534561, 0.15465439],
       [0.95248302, 0.04751698],
       [0.79551776, 0.20448224],
       [0.90704594, 0.09295406],
       [0.26919832, 0.73080168],
       [0.90707964, 0.09292036],
       [0.6013474 , 0.3986526 ],
       [0.29787337, 0.70212663],
       [0.03688856, 0.96311144],
       [0.84535947, 0.15464053],
       [0.90007809, 0.09992191],
       [0.77160389, 0.22839611],
       [0.79548964, 0.20451036],
       [0.07284777, 0.92715223],
       [0.2156483 , 0.7843517 ],
       [0.85867878, 0.14132122],
       [0.05194733, 0.94805267],
       [0.90705922, 0.09294078],
       [0.05093947, 0.94906053],
       [0.62031052, 0.37968948],
       [0.43591756, 0.56408244],
       [0.92539766, 0.07460234],
       [0.58704108, 0.41295892],
       [0.86495862, 0.13504138],
       [0.81523739, 0.18476261],
       [0.83985121, 0.16014879],
       [0.86512874, 0.13487126],
       [0.88478356, 0.11521644],
       [0.24278207, 0.75721793],
       [0.87633248, 0.12366752],
       [0.16092549, 0.83907451],
       [0.70077924, 0.29922076],
       [0.90705208, 0.09294792],
       [0.90704705, 0.09295295],
       [0.60134858, 0.39865142],
       [0.25780372, 0.74219628],
       [0.51272259, 0.48727741],
       [0.4366671 , 0.5633329 ],
       [0.90704533, 0.09295467],
       [0.69230024, 0.30769976],
       [0.91036323, 0.08963677],
       [0.4656428 , 0.5343572 ],
       [0.95063916, 0.04936084],
       [0.93076355, 0.06923645],
       [0.67499838, 0.32500162],
       [0.31892403, 0.68107597],
       [0.81523739, 0.18476261],
       [0.90063534, 0.09936466],
       [0.88059963, 0.11940037],
       [0.61574517, 0.38425483],
       [0.20359868, 0.79640132],
       [0.07283447, 0.92716553],
       [0.90704533, 0.09295467],
       [0.08592736, 0.91407264],
       [0.79649745, 0.20350255],
       [0.8649586 , 0.1350414 ],
       [0.92403389, 0.07596611],
       [0.91968409, 0.08031591],
       [0.25022583, 0.74977417],
       [0.89265112, 0.10734888],
       [0.92540268, 0.07459732],
       [0.79552837, 0.20447163],
       [0.10237246, 0.89762754],
       [0.68235883, 0.31764117],
       [0.31892407, 0.68107593],
       [0.20341265, 0.79658735],
       [0.84267251, 0.15732749],
       [0.91357388, 0.08642612],
       [0.70775339, 0.29224661],
       [0.90704582, 0.09295418],
       [0.48556156, 0.51443844],
       [0.83264737, 0.16735263],
       [0.90704552, 0.09295448],
       [0.84534941, 0.15465059],
       [0.89265095, 0.10734905],
       [0.8634769 , 0.1365231 ],
       [0.72013273, 0.27986727],
       [0.03156503, 0.96843497],
       [0.4457831 , 0.5542169 ],
       [0.84269108, 0.15730892],
       [0.68232845, 0.31767155],
       [0.16642252, 0.83357748],
       [0.09875532, 0.90124468],
       [0.10671375, 0.89328625],
       [0.41636015, 0.58363985],
       [0.90704594, 0.09295406],
       [0.80290288, 0.19709712],
       [0.09581923, 0.90418077],
       [0.90189941, 0.09810059],
       [0.93326952, 0.06673048],
       [0.27338425, 0.72661575],
       [0.29344668, 0.70655332],
       [0.0581204 , 0.9418796 ],
       [0.85869415, 0.14130585],
       [0.04721947, 0.95278053],
       [0.12310616, 0.87689384],
       [0.80913618, 0.19086382],
       [0.90007861, 0.09992139],
       [0.07283023, 0.92716977],
       [0.89265165, 0.10734835],
       [0.91667981, 0.08332019],
       [0.77633733, 0.22366267],
       [0.75240432, 0.24759568],
       [0.243917  , 0.756083  ],
       [0.46042853, 0.53957147],
       [0.8649668 , 0.1350332 ],
       [0.31892383, 0.68107617],
       [0.4359359 , 0.5640641 ],
       [0.97626587, 0.02373413],
       [0.8143335 , 0.1856665 ],
       [0.86495862, 0.13504138],
       [0.85552016, 0.14447984],
       [0.87633106, 0.12366894],
       [0.71197766, 0.28802234],
       [0.28731626, 0.71268374],
       [0.90190002, 0.09809998],
       [0.12519472, 0.87480528],
       [0.94674794, 0.05325206],
       [0.1504334 , 0.8495666 ],
       [0.37953264, 0.62046736],
       [0.88875772, 0.11124228],
       [0.79750214, 0.20249786],
       [0.23300782, 0.76699218],
       [0.64812666, 0.35187334],
       [0.73317528, 0.26682472],
       [0.86514399, 0.13485601],
       [0.72527158, 0.27472842],
       [0.91968407, 0.08031593],
       [0.82210563, 0.17789437],
       [0.8649668 , 0.1350332 ],
       [0.75481537, 0.24518463],
       [0.78989856, 0.21010144],
       [0.08145733, 0.91854267],
       [0.76327749, 0.23672251],
       [0.62024662, 0.37975338],
       [0.91667925, 0.08332075],
       [0.90875253, 0.09124747],
       [0.75598186, 0.24401814],
       [0.77242341, 0.22757659],
       [0.79434664, 0.20565336],
       [0.84348332, 0.15651668],
       [0.17779574, 0.82220426],
       [0.86495862, 0.13504138],
       [0.31925644, 0.68074356],
       [0.51827438, 0.48172562],
       [0.93327042, 0.06672958],
       [0.8805997 , 0.1194003 ],
       [0.53940601, 0.46059399],
       [0.10671646, 0.89328354],
       [0.92259012, 0.07740988],
       [0.94036417, 0.05963583],
       [0.05937052, 0.94062948],
       [0.69229161, 0.30770839],
       [0.88666009, 0.11333991],
       [0.31927042, 0.68072958],
       [0.80194671, 0.19805329],
       [0.93810534, 0.06189466],
       [0.74733852, 0.25266148],
       [0.78989856, 0.21010144],
       [0.28142477, 0.71857523],
       [0.91036341, 0.08963659],
       [0.19601426, 0.80398574],
       [0.56087438, 0.43912562],
       [0.74856509, 0.25143491],
       [0.87635686, 0.12364314],
       [0.41649531, 0.58350469],
       [0.05712169, 0.94287831],
       [0.86495937, 0.13504063],
       [0.69941005, 0.30058995],
       [0.47784868, 0.52215132],
       [0.06393779, 0.93606221],
       [0.90007831, 0.09992169],
       [0.39935305, 0.60064695],
       [0.91357443, 0.08642557],
       [0.45569151, 0.54430849],
       [0.90708287, 0.09291713],
       [0.90007809, 0.09992191],
       [0.89643056, 0.10356944],
       [0.8847418 , 0.1152582 ],
       [0.89455166, 0.10544834],
       [0.38753174, 0.61246826]])

In [41]:
#Using probabilities to set a new threshold. Sklearn's default threshold is 0.5
y_pred = [0 if x[0] > 0.4 else 1 for x in logreg.predict_proba(X_test)]

In [42]:
from sklearn import metrics

In [43]:
metrics.accuracy_score(y_test, y_pred)

0.7892376681614349

In [44]:
metrics.confusion_matrix(y_test,y_pred)

array([[127,  14],
       [ 33,  49]])

In [45]:
print(metrics.classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.79      0.90      0.84       141
           1       0.78      0.60      0.68        82

    accuracy                           0.79       223
   macro avg       0.79      0.75      0.76       223
weighted avg       0.79      0.79      0.78       223

In [46]:
test_data = pd.read_csv('test.csv')
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [47]:
logreg.predict(test_data)

ValueError: could not convert string to float: 'Kelly, Mr. James'

In [48]:
dataframe_test = test_data.drop(columns_to_drop, axis = 1)
dataframe_test.head()

   Pclass     Sex   Age     Fare Embarked
0       3    male  34.5   7.8292        Q
1       3  female  47.0   7.0000        S
2       2    male  62.0   9.6875        Q
3       3    male  27.0   8.6625        S
4       3  female  22.0  12.2875        S

In [49]:
dataframe_test[dataframe_test['Age'].isna()]

     Pclass     Sex  Age     Fare Embarked
10        3    male  NaN   7.8958        S
22        1  female  NaN  31.6833        S
29        3    male  NaN  21.6792        C
33        3  female  NaN  23.4500        S
36        3  female  NaN   8.0500        S
..      ...     ...  ...      ...      ...
408       3  female  NaN   7.7208        Q
410       3  female  NaN   7.7500        Q
413       3    male  NaN   8.0500        S
416       3    male  NaN   8.0500        S
417       3    male  NaN  22.3583        C

[86 rows x 5 columns]

In [50]:
dataframe_test['Age'] = dataframe_test[['Age','Pclass']].apply(age_approx, axis = 1)
dataframe_test

     Pclass     Sex   Age      Fare Embarked
0         3    male  34.5    7.8292        Q
1         3  female  47.0    7.0000        S
2         2    male  62.0    9.6875        Q
3         3    male  27.0    8.6625        S
4         3  female  22.0   12.2875        S
..      ...     ...   ...       ...      ...
413       3    male  24.0    8.0500        S
414       1  female  39.0  108.9000        C
415       3    male  38.5    7.2500        S
416       3    male  24.0    8.0500        S
417       3    male  24.0   22.3583        C

[418 rows x 5 columns]

In [51]:
# Both the columns are ordinal variables so applying one hot encoding
dataframe_test_one_hot = pd.get_dummies(dataframe_test, columns = ['Sex','Embarked'])

In [53]:
dataframe_test_one_hot.columns

Index(['Pclass', 'Age', 'Fare', 'Sex_female', 'Sex_male', 'Embarked_C',
       'Embarked_Q', 'Embarked_S'],
      dtype='object')

In [54]:
logreg.predict(dataframe_test_one_hot)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [55]:
dataframe_test_one_hot.isna().sum()

Pclass        0
Age           0
Fare          1
Sex_female    0
Sex_male      0
Embarked_C    0
Embarked_Q    0
Embarked_S    0
dtype: int64

In [56]:
dataframe_test_one_hot.dropna(inplace=True)

In [57]:
logreg.predict(dataframe_test_one_hot)

array([0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0,
       1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1,
       0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1,
       0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0,
       0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0,
       1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0,
       0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1,
       1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0])